$dark-background: #26293a;
$gray-background: #3d4853;
$selectedInput-Background: #313a42;
$dark-text: #ceddec;

.side-content{
    width: 350px;
    background-color: $dark-background;
    padding: 30px 32px;
    color: $dark-text;
    font-weight: 700;
    overflow: hidden;
    
    .labelButton{
        background-color: $dark-background;
        text-align: center;
        width: 80px;
        height: 32px;
        border: 2px solid $gray-background;
        border-radius: 6px;
        font-size: .9rem;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    button{
        color:$dark-text;
    }
    input[type='color']{
        padding:0;
    }
    .label::-moz-selection,.labelButton:hover,input:focus{
        background-color: $gray-background;
        outline: 2px solid blue;
    }
    .grid{
        display:grid;
        grid-template-columns: repeat(3, .02fr);
        gap: 8px;
    }

    .colorSelect{
        padding:0;
    }
    .topLeft{
        transform:rotate(315deg)
    }
    .topRight{
        transform:rotate(45deg)
    }
    .left{
        transform:rotate(270deg)
    }
    .right{
        transform:rotate(90deg)
    }
    .bottomLeft{
        transform:rotate(225deg)
    }
    .bottom{
        transform:rotate(180deg)
    }
    .bottomRight{
        transform:rotate(135deg)
    }

    .get{
        button{
            width: 256px;
            height: 48px;
            background: $gray-background;
            color: #ceddec;
            text-align: center;
            border-radius: 6px;
            margin-top: 12px;
            margin-left: 0;
            font-size: .8125rem;
            font-weight: 600;
            line-height: 3rem;
            text-decoration: none;
            border:none;
        }
        button:hover{
            background-color: $dark-text;
            color:$dark-background;
        }
    }
}