//dark theme colors

$dark-background: #26293a;
$gray-background: #3d4853;
$selectedInput-Background: #313a42;
$dark-text: #ceddec;

//white theme colors

$white-text: #3d4853;
$white-background: #ffffff;
$white-hover: #f1f4f8;
.lightMode{
    background: $white-background;
    color: $white-text ;
    text-decoration: none;

    .CSSTitle,a{
        text-decoration: none;
        color:black;
    }

    .labelButton{
        border: 2px solid $white-hover;
        color:$white-text;
    }
    .labelButton:hover,.selected{
        background-color: $white-hover;
    }
    button{
        background-color: $white-background;
    }
    .get{
        button{
            background: $white-hover;
            color: $white-text;
        }
        button:hover{
            background-color: #26293a;
            color:white;
        }
    }
}
.darkMode{
    background-color: $dark-background;
    color: $dark-text;
    

    CSSTitle,a{
        text-decoration: none;
        color:white;
    }

    .labelButton{
        border: 2px solid $gray-background;
    }
    .labelButton:hover,.selected{
        background-color: $gray-background;
    }
    button{
        background-color: $dark-background;
    }
    .get{
        button{
            background: $gray-background;
            color: #ceddec;
        }
        button:hover{
            background-color: $dark-text;
            color:$dark-background;
        }
    }
}
.side-content{
    width: 350px;
    padding: 30px 32px;
    font-weight: 700;
    overflow: hidden;


    .labelButton{
        text-align: center;
        width: 80px;
        height: 32px;
        border-radius: 6px;
        font-size: .9rem;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        .get{
        button{
            width: 256px;
            height: 48px;
            text-align: center;
            border-radius: 6px;
            margin-top: 12px;
            margin-left: 0;
            font-size: .8125rem;
            font-weight: 600;
            line-height: 3rem;
            text-decoration: none;
            border:none;
        }
    }
    button{
        color:$dark-text;
    }
    input[type='color']{
        padding:0;
    }
    .grid{
        display:grid;
        grid-template-columns: repeat(3, .02fr);
        gap: 8px;
    }

    .colorSelect{
        padding:0;
    }
    .topLeft{
        transform:rotate(315deg)
    }
    .topRight{
        transform:rotate(45deg)
    }
    .left{
        transform:rotate(270deg)
    }
    .right{
        transform:rotate(90deg)
    }
    .bottomLeft{
        transform:rotate(225deg)
    }
    .bottom{
        transform:rotate(180deg)
    }
    .bottomRight{
        transform:rotate(135deg)
    }
}